.first-layer {
    position : absolute;
    width : 140px;
    height : 140px;
    background : linear-gradient(to bottom, #178286, #51DDE1);
}

.second-layer {
    z-index : 0;
    position : absolute;
    width : 140px;
    height : 140px;
    transform : rotate(45deg);
    background : linear-gradient(to right, #178286, #51DDE1);
}

.third-layer {
    z-index : 0;
    position : absolute;
    width : 120px;
    height : 120px;
    border-radius : 60px;
}


