.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'FuturaBold';
  src: url('./assets/fonts/FuturaBold.ttf') format('truetype');
}


@font-face {
  font-family: 'FuturaMedium';
  src: url('./assets/fonts/FuturaMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'FuturaLight';
  src: url('./assets/fonts/FuturaLight.ttf') format('truetype');
}


.white-text {
  color : #B6CED3
}

.main-bg {
    background-color : #353434
}

.futura-light {
    font-family : 'FuturaLight';
}

.futura-med {
    font-family : 'FuturaMedium';
}

.futura-bold {
    font-family : 'FuturaBold';
}

.text-egg-blue {
    color : #51DDE1;
}
.text-teal {
    color : #178286;
}

.circle-image {
    width : 125px;
    height : 125px;
    border-radius : 50%;
    overflow : hidden;
}
.clickable {
    cursor : pointer;
}
.one-part {
    flex : 1;
}
.black-outline {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.square {
    height : 140px;
    width : 140px;
    background : #353434;
}

.icon {
    height : 32px;
    width : 32px;
}
